.homeArea {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}



.homeContent {
  text-align: center;
  padding: 50px 80px;
}



.homeContent h1 {
  font-size: 3.2857rem;
  line-height: 4rem;
  font-weight: 700;
  font-family: Nunito,sans-serif;
  color: #fff;
}

.colorTheme {
  color: #92A1CF;
}


.homeParticle {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.homeContent p {
  margin-top: 15px;
  font-size: 1.25rem;
  line-height: 2rem;
margin-bottom: 1rem;
}






.cursor {
  display: inline-block;
  height: 100px;
  width: 3px;
  background: #aaa;
  vertical-align: middle;
  animation: 1s blink linear infinite;
  margin-left:5px;
}
@keyframes blink {
  0%,
  49% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}


@media only screen and (max-width: 1599px) and (min-width: 1200px){
  .homeContent {
      padding: 50px 0;
  }
    
  }

  @media only screen and (max-width: 991px) and (min-width: 768px){
     .homeContent h1 {
          font-size: 2.9857rem;
          line-height: 3.4rem;
      }

      .homeContent {
          padding: 50px 0;
      }

      .homeContent p {
          font-size: 1.15rem;
          line-height: 1.75rem;
      }

    }

    @media only screen and (max-width:767px){
      .homeContent {
          padding: 50px 0;
      }
    
      .homeContent h1 {
          font-size: 2.6857rem;
          line-height: 3.1rem;
      }
    
      .homeContent p {
          font-size: 1.08rem;
          line-height: 1.55rem;
      }
    }